html,
body {
    margin: 0;
    padding: 0;
    background-color: #101724;
}

#echartsMap {
    width: 100%;
    height: 100%;
}

.map-wrapper {
    position: absolute;
    background-color: #101724;
    display: flex;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}

.custom-div {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

.box {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 5px;
    background-color: rgba(45, 45, 45, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 1px solid rgb(100, 100, 100);
    transition: all 0.3s ease;
    overflow: hidden;
    visibility: hidden;
}

.box-expanded {
    width: 180px;
    height: 185px;
}

.box:hover {
    cursor: pointer;
}

.box .box-label {
    position: absolute;
    top: 10px;
    left: 15px;
    display: flex;
    align-items: center;
    color: #C8C8C8;
    margin-bottom: 5px;
    white-space: nowrap;
    visibility: hidden;
}

.box svg {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    stroke: #C8C8C8;
    stroke-width: 1.44;
    stroke-linecap: square;
    stroke-linejoin: miter;
    fill: none;
    color: #C8C8C8;
}

.box .radio-buttons {
    position: absolute;
    top: 40px;
    left: 15px;
    visibility: hidden;
}

.box .radio-buttons label {
    display: block;
    align-items: center;
    justify-content: center;
    color: #C8C8C8;
    margin-bottom: 5px;
    white-space: nowrap;
}

.box .radio-buttons input[type="radio"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: none;
    position: relative;
    cursor: pointer;
    border: 2px solid #C8C8C8;
}

.box .radio-buttons input[type="radio"]::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #C8C8C8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    opacity: 0;
}

.box .radio-buttons input[type="radio"]:checked::after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}